.commentSecction{
    box-shadow: inset 0px 12px 25px 5px rgba(0, 0, 0, 0.4);
    border-radius: 48px;
    padding: 28px;
    max-height: 200px;
    overflow-y: scroll;
}

.comment{
    font-size: 18px;
}

.tdComment{
    padding-inline: 16px;
    display: flex;
}

.tdPost{
    padding-bottom: 18px;
}

::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: blue;
    border-radius: 10px;
    height: 64px;
}

::-webkit-scrollbar-track{
    height: 36px;
    background-color: aqua;
    border-radius: 10px;
}
